* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
  }
  
  html {
    font-size: 100%;
    overflow-x: hidden;
    overflow-x: hidden;
    background-color: gray;
  }
  body {
    max-width: 1200px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    
  }
button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}

/* Nav Bar */

nav {
  position: sticky;
  top: 0;
  background: white;
  padding: 5px;
  text-align: center;
  background-color: #f28484;
}

.nav-tab{
    vertical-align: section1dle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
}

.image{
    max-width: 100%;
    height: auto;
    vertical-align: section1dle;
    float: left;

}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.container {
    max-width: 100%;
}

.navbar-item {
    font-size: x-large;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    background-color: #f28484;
}

.nav-img{
    height: 40px;
}

/*  Section 1 */
.section1 {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(247, 250, 154) , rgb(248, 149, 178));
}
.section1-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10%;

}
.section1-content p{
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.4rem;
}

.section1-content h1 {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 4px;
    font-family: sans-serif;
    padding-top: 50px;
}
.click {
    background-color: #f28484;
    align-self: flex-start;
    padding: 10px 50px;
    color: #fff;
    margin-bottom: 70px;
    font-size: 15px;
    letter-spacing: 1px;
}

/*  Section 2 */
.section2 {
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    justify-content: center;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(247, 250, 154) , rgb(248, 149, 178));

}
.section-2-1 {
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: 0.2s ease-in-out;
}
.section-2-2 {
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: #f77474;
    height: 40%;
    margin-top: 50px;
    width: 40%;
}

.section-2-2-content{
    padding: 10px;
    transition: 0.2s ease-in-out;
}
.section-2-2-content h1{
    word-spacing: 2px;
    letter-spacing: 3px;
    line-height: normal;
    font-size: -webkit-xxx-large;
}

.section-2-2-content p{
    display: inline-flex;
    line-height: 2rem;

}
.section-2-2-content img{
    margin-top: 5px;
}
.divider {
height: 5px;
}

.grid-image {
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "I1 I3"
        "I2 I3";
}

.item1 {
    grid-area: I1;
    width: 200px;
    height: 200px;
}

.item2 {
    grid-area: I2;
    width: 200px;
    height: 200px;
}
.item3 {
    grid-area: I3;
    width: 200px;
    height: 400px;
}


@media (max-width: 786px) {
    .section1 {
        flex-direction: column;
        column-count: 2;
    }

    .section1_image {
        display: block;
        float: left;
    }
    .section1_image img {
        width: 50%;
    }
    .section1-content {
        gap: 5px;
        padding: 0 10px;
    }
    .section1-content h1 {
        font-size: 32px;
    }
    .section2 {
        flex-direction: column;
        column-count: 2;
    }

    .heading{
        font-size: 100px;
    }
    .grid {
        padding: 10px;
    }
    .grid-image {
        border-radius: 0px;
    }
}